
Sign in

<ul>
    <% params.errors.each do |error| %>
      <li><%= error.attribute_name %> is required</li>
    <% end %>
</ul>

<%=
  form_for :sesion, '/sessions/create' do
    div class: 'input' do
      label :email
      text_field :email
    end

    div class: 'input' do
      label :password
      password_field :password
    end

    div class: 'controls' do
      submit 'Login'
    end
  end
 %>
