<!doctype HTML>
<html>
  <head>
    <title>Web</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Streambeats</h1>
      </header>
      <aside class="content">
        <%= yield %>
      </aside>
      <footer></footer>
    </div>
    <script type="text/javascript" src="javascripts/application.js"></script>
  </body>
</html>
